
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <title>AdminLTE 3 | Product</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/Assets/plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/Assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/Assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/Assets/dist/css/adminlte.min.css">

    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="/Assets/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="/Assets/plugins/toastr/toastr.min.css">

    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="/Assets/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="/Assets/plugins/bs-stepper/css/bs-stepper.min.css">




    <style>
        body {
            padding-right: 0 !important
        }

        th {
            font-weight: normal !important
        }
    </style>
}

<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form id="createForm" action="#">
                <div class="modal-header">
                    <h5 class="modal-title w-100 text-center" id="exampleModalCenterTitle">THÊM MỚI BÀI BÁO</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 d-flex align-items-center">
                                <label>Tên đề tài</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" placeholder="Bắt buộc" name="Ten">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 d-flex align-items-center">
                                <label>Loại bài báo</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <select class="form-control" name="IdLoaiDeTai">
                                        <option value="0" selected>Loại bài báo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 d-flex align-items-center">
                                <label>Cơ quan quản lý</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="address" placeholder="Không bắt buộc" name="CoQuanQuanLy">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 d-flex align-items-center">
                                <label>Năm học</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <select class="form-control" name="NamHoc">
                                        <option value="0" selected>Năm học</option>
                                        <option value="2020-2021">2020-2021</option>
                                        <option value="2019-2020">2019-2020</option>
                                        <option value="2018-2019">2018-2019</option>
                                        <option value="2017-2018">2017-2018</option>
                                        <option value="2016-2017">2016-2017</option>
                                        <option value="2015-2016">2015-2016</option>
                                        <option value="2014-2015">2014-2015</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 d-flex align-items-center">
                                <label>Kỳ học</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <select class="form-control" name="KiHoc">
                                        <option value="0" selected>Kỳ học</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-8">
                                <button type="reset" class="btn btn-warning cancel">
                                    <i class="fas fa-sync-alt"></i>
                                    <span>Làm mới</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="button" id="CreateDeTai" name="Submit" class="btn btn-primary" value="Lưu" />

                </div>
            </form>

        </div>
    </div>
</div>
<!-- /. Create Modal -->
<!-- Edit Modal -->
<div class="modal fade" id="edithModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="exampleModalCenterTitle">SỬA BÀI BÁO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 d-flex align-items-center">
                            <label>Mã bài báo</label>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="text" class="form-control" id="ma" placeholder="Bắt buộc" name="Ma" disabled="disabled">
                            </div>
                        </div>
                    </div>
                    <form id="EditForm" action="#">
                        <div class="row">
                            <div class="col-md-4 d-flex align-items-center">
                                <label>Tên bài báo</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" placeholder="Bắt buộc" name="Ten">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 d-flex align-items-center">
                                <label>Loại bài báo</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <select class="form-control" name="IdLoaiDeTai">
                                        <option value="0" selected>Loại đề tài</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 d-flex align-items-center">
                                <label>Cơ quan quản lý</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="address" placeholder="Không bắt buộc" name="CoQuanQuanLy">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 d-flex align-items-center">
                                <label>Năm học</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <select class="form-control" name="NamHoc">
                                        <option value="0" selected>Năm học</option>
                                        <option value="2020-2021">2020-2021</option>
                                        <option value="2019-2020">2019-2020</option>
                                        <option value="2018-2019">2018-2019</option>
                                        <option value="2017-2018">2017-2018</option>
                                        <option value="2016-2017">2016-2017</option>
                                        <option value="2015-2016">2015-2016</option>
                                        <option value="2014-2015">2014-2015</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 d-flex align-items-center">
                                <label>Kỳ học</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <select class="form-control" name="KiHoc">
                                        <option value="0" selected>Kỳ học</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-8">
                                <button type="reset" class="btn btn-warning cancel">
                                    <i class="fas fa-sync-alt"></i>
                                    <span>Làm mới</span>
                                </button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="button" id="EditDeTai" name="Submit" class="btn btn-primary" value="Lưu" />

            </div>
        </div>
    </div>
</div>
<!-- /. Edit Modal -->
<!-- Confirm Delete Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="exampleModalCenterTitle">XÁC NHẬN XÓA BÀI BÁO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex flex-row-reverse">
                <div class="m-1">
                    <input type="submit" id="confirmDel" name="Submit" class="btn btn-primary" value="Đồng ý" />

                </div>
                <div class="m-1">
                    <input type="submit" class="btn btn-default" data-dismiss="modal" value="Hủy" />
                </div>

            </div>

        </div>
    </div>
</div>
<!-- /. Confirm Delete Modal -->
<!-- Header content -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Bài báo</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">Quản lý bài báo</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- /.Header content -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- card-header -->
                    <div class="card-header">
                        <!-- control content -->

                        <div class="row dataTables_wrapper">

                            <div class="col-sm-12 col-md-3">
                                <div class="dataTables_length" id="example1_length">
                                    <label>
                                        Show
                                        <select name="example1_length" aria-controls="example1" class="custom-select custom-select-sm form-control form-control-sm">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-9">
                                <div id="example1_filter" class="row dataTables_filter">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="search" class="form-control col-md-12" placeholder="search" aria-controls="example1" name="searching">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <!-- select -->
                                        <div class="form-group">

                                            <select class="form-control" name="NamHoc" id="searchNam">
                                                <option value="0" selected>--Năm học--</option>
                                                <option value="2020-2021">2020-2021</option>
                                                <option value="2019-2020">2019-2020</option>
                                                <option value="2018-2019">2018-2019</option>
                                                <option value="2017-2018">2017-2018</option>
                                                <option value="2016-2017">2016-2017</option>
                                                <option value="2015-2016">2015-2016</option>
                                                <option value="2014-2015">2014-2015</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <!-- select -->
                                        <div class="form-group">
                                            <select class="form-control" name="KiHoc" id="searchKi">
                                                <option value="0" selected>--Kỳ học--</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-success" id="bt_createDeTai" data-toggle="modal" data-target="#createModal">
                                            <i class="fa fa-plus-square"></i> &nbsp;
                                            Thêm mới
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- /.control content -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-hover">
                            <thead>
                                <tr>

                                    <th>STT</th>
                                    <th>Mã bài báo</th>
                                    <th>Tên bài báo</th>
                                    <th>Loại bài báo</th>
                                    <th>Tạp chí công bố</th>
                                    <th>Số TV</th>
                                    <th>Năm học</th>
                                    <th>Kỳ học</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <!-- processing load -->
                        <div class="d-flex justify-content-center">
                            <div class="processing-example text-info" role="status">

                            </div>
                            <span class="sr-only">Loading...</span>
                        </div>

                        <!-- phân trang -->
                        <div class="row dataTables_wrapper">

                            <div class="col-sm-12 col-md-6">
                                <b style="color:navy">
                                    <span>Đang hiển thị (<span class="startItemofPage">...</span>-<span class="endItemofPage">...</span>) / <span class="countItem">...</span></span>
                                </b>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                    <ul class="pagination">
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- /.phân trang -->
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

@section Scripts{
    <script src="/Assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/Assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables -->
    <script src="/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/Assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/Assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/Assets/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/Assets/dist/js/demo.js"></script>

    <!-- SweetAlert2 -->
    <script src="/Assets/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="/Assets/plugins/toastr/toastr.min.js"></script>

    <!-- Bootstrap Switch -->
    <script src="/Assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- BS-Stepper -->
    <script src="/Assets/plugins/bs-stepper/js/bs-stepper.min.js"></script>

    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Content/jsController/BaiBaoJS.js"></script>
}



